  /* Colors */
  $gray-color: rgb(225, 225, 225);
  $gray-placeholder-color: rgb(122,122,122);
  $gray-input-color: rgb(240, 240, 240);
  $green-color: rgb(54, 233, 187);
  $white-color: rgb(255, 255, 255);
  $blue-color: rgb(0, 220, 229);
  $purple-color: rgb(71, 26, 153);
  $black-color: rgb(45, 45, 82);

  /* Font*/
  $font-family-raleway: 'Raleway', sans-serif;
  $font-family-lato: 'Lato', sans-serif;

  /* Font Weight */
  $font-weight-300: 300;
  $font-weight-400: 400;
  $font-weight-500: 500;
  $font-weight-600: 600;
  $font-weight-700: 700;
  $font-weight-800: 800;

  /* Font-size */
  $font-size-1: 16px;
  $font-size-2: 18px;
  $font-size-3: 20px;
  $font-size-4: 25px;
  $font-size-5: 30px;
  $font-size-6: 36px;
  $font-size-7: 40px;
  $font-size-8: 48px;
  $font-size-9: 54px;

  // /* Padding */
  // $padding-button-l: 20px 41px 20px 40px;
  // $padding-button-s: 16px 46px 16px 45px;
  // $padding-agc-branding: 10px 30px;
  // $padding-up: 20px 0 0px 0;
  // $padding-down: 0px 0 60px 0;

  /* Margin */
  $margin-middle: 0 auto;
  // $margin-button: 50px 0 0 0;
  // $margin-button-s: 15px 0 30px 0;
  // $margin-start-block: 50px 0 20px 0;
  // $margin-separation-text-title: 30px 0 64px 0;
  // $margin-separation-icons: 30px 0 30px 0;
  // $margin-down-block: 0px 0 50px 0;
  // $margin-up-down-block: 30px 0 50px 0;

  /* Line Separation */
  // $line-height-header: 2rem;

  /* Useful */
  $size-1: 0.25rem;
  $size-2: 0.50rem;
  $size-3: 0.75rem;
  $size-4: 1rem;
  $size-5: 1.25rem;
  $size-6: 1.50rem;
  $size-8: 1.75rem;
  $size-9: 2rem;
  $size-10: 2.25rem;
  $size-ot-1: 2.50rem;
  $size-ot-2: 2.75rem;
  $size-ot-3: 3.12rem;
  $size-ot-4: 3.75rem;
  $size-ot-5: 6.25rem;
  $size-ot-6: 18.75rem;
  $size-ot-7: 31.25rem;
  $size-ot-8: 5rem;


.ff-1 {
  font-family: var(--font-family-raleway);
}

.ff-2 {
  font-family: var(--font-family-lato);
}


.fw-1 {
  font-weight: var(--font-weight-400);
}

.fw-2 {
  font-weight: var(--font-weight-500);
}

.fw-3 {
  font-weight: var(--font-weight-600);
}

.fw-4 {
  font-weight: var(--font-weight-700);
}

.fw-5 {
  font-weight: var(--font-weight-800);
}

.fw-6 {
  font-weight: var(--font-weight-300);
}

.fc-1 {
  color: var(--white-color);
}

.fc-2 {
  color: var(--green-color);
}

.fc-3 {
  color: var(--blue-color);
}

.fc-4 {
  color: var(--purple-color);
}

.fc-5 {
  color: var(--black-color);
}

.fs-1 {
  font-size: var(--font-size-1);
}

.fs-2 {
  font-size: var(--font-size-2);
}

.fs-3 {
  font-size: var(--font-size-3);
}

.fs-4 {
  font-size: var(--font-size-4);
}

.fs-5 {
  font-size: var(--font-size-5);
}

.fs-6 {
  font-size: var(--font-size-6);
}

.fs-7 {
  font-size: var(--font-size-7);
}

.fs-8 {
  font-size: var(--font-size-8);
}

// Style

html {
  font-family: $font-family-lato;
  background: linear-gradient(88deg, rgba(95, 133, 229, 1) 0%, rgba(161, 62, 235, 1) 100%);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  
  .prn-fnt-asw {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .fa-solid {
    font-size: 1.4rem;
  }

  h1 {
    font-size: $size-8;
    text-align: center;
    color: white;
    font-weight: 100;
  }

  label {
    font-size: $font-size-3;
    color: white;
    font-weight: 100;
  }

  form {
    width: 100%;
    margin: $margin-middle;
    max-width: 600px;
  }

  input[type='text'],
  input[type='password'] {
    width: 100%;
    margin-top: 0.3rem;
    border: 0;
    padding: 0.5rem 0;
    background-color: $gray-color;
    font-size: $font-size-4;
    
  }

  ::-webkit-input-placeholder {
  /* Edge */
      color: $gray-placeholder-color;
      text-align: center;
      font-size: $font-size-3;
  }
  
  :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
    color: $gray-placeholder-color;
    text-align: center;
    font-size: $font-size-3;
  }
  
  ::placeholder {
      color: $gray-placeholder-color;
      text-align: center;
      font-size: $font-size-3;
  }

  button {
    width: 100%;
    border: 0;
    padding: 0.5rem 5.6rem;
    font-size: $font-size-4;
    margin-bottom: $size-6;
    background-color: $blue-color;
  }

  a {
    text-decoration: none;
    font-size: $font-size-2;
    color: $black-color;
    font-size: 1.3rem;
  }

  p {
    text-align: center;
  }
}