<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget App</title>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href='css/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>

<body>
  <main>
    <section class="main-parent">
      <h1 class="fs-36 fw-1 fc-w">Categories</h1>
      
      <form id="form" method="get">
        <div class="input-icons">
          <label for="income" class="fs-20 fw-1 fc-w">Monthly Income</label><br>
          <i class="fa-solid fa-coins icon fs-20"></i>
          <input type="number" id="income" name="income" placeholder="Monthly Income" class="input-field" required><br><br>
        </div>
      </form>
      
      <!-- Category Box -->
      <section id="category-box">
        <div class="expense-ctn">
          <div class="box-header">
            <h3 class="fs-20 fw-1 fc-w">Insert Category</h3>
            <i class="fa-solid fa-xmark fs-20" id="icon-close"></i>
          </div>
          <form action="" class="">
            <div class="form-ctn">
              <select name="category" id="category" placeholder="Category" class="category-input">
                <option value="housing">Housing</option>
                <option value="smma">SMMA</option>
                <option value="debt">Debt</option>
                <option value="beauty">Beauty</option>
                <option value="subscriptions">Subscriptions</option>
              <input type="text" name="expense" id="expense" placeholder="Expense" class="expense-input">
            </div>

            <div class="box-footer">
              <button id="close-btn" class="btn-categories">Close</button>
              <button id="save-bt" class="btn-categories">Save</button>
            </div>
            <div>
              <button type="submit" id="btn-categories" class="btn">Create Budget</button>
            </div>
          </form>
        </div>
      </section>
      <!-- Category Box -->

      <div>
        <div class="prnt-ctn">
          <ul>
            <h3>Teste</h3>
            <li>teste</li>
            <li>teste</li>
            <li>teste</li>
            <li>teste</li>
          </ul>
        </div>
      </div>
    </section>
  </main>

 
  <script type="text/javascript" src="/js/category.js"></script>
</body>

</html>