<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget App | Categories</title>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href='css/style.css'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>

<body>
  <main>
    <section class="main-parent">
      <h1 class="fs-36 fw-1 fc-w page-title">Categories</h1>
      
      <form id="form" method="get">
        <div class="input-icons">
          <i class="fa-solid fa-sack-dollar icon fs-20"></i>
          <input type="number" id="income" name="income" placeholder="Insert Monthly Income" class="input-field" required ><br><br>
          <div class=" box-add-category-footer-income">
              <button class="btn-categories btn-income" id="btnIncomeEdit" disabled>Edit</button>
              <button class="btn-categories btn-income" id="btnIncomeSave" >Save</button>
          </div>
        </div>
      </form>

      <form id="form" method="get">
        <div class="input-icons">
          <i class="fa-solid fa-filter icon fs-20"></i>
          <input type="number" id="income" name="income" placeholder="Insert Category" class="input-field" required><br><br>
          <div class=" box-add-category-footer-income">
            <button class="btn-categories btn-income" id="btnIncomeEdit" disabled>Edit</button>
            <button class="btn-categories btn-income" id="btnIncomeSave">Save</button>
          </div>
        </div>
      </form>

      <form id="form" method="get">
        <div class="input-icons">
          <i class="fa-solid fa-coins icon fs-20"></i>
          <input type="number" id="income" name="income" placeholder="Insert Expense" class="input-field" required><br><br>
          <div class=" box-add-category-footer-income">
            <button class="btn-categories btn-income" id="btnIncomeEdit" disabled>Edit</button>
            <button class="btn-categories btn-income" id="btnIncomeSave">Save</button>
          </div>
        </div>
      </form>
      
    
          
           <section style="display: none;">
            <div class="box-add-category">
              <div class="box-add-category-ctn">
                <h5 class="fs-16 ctg-title">Housing</h5>
                <form class="box-add-category-form">
                  <input type="radio" id="teste1" name="fav_language" value="HTML">
                  <label for="teste1">Rent</label><br>
                  <input type="radio" id="css1" name="fav_language" value="CSS1">
                  <label for="css">Bills</label><br>
                </form>
          </div>
          </div>
          <div class=" box-add-category-footer" style="display: none;">
            <button class="btn-categories" disabled>Edit</button>
            <button class="btn-categories">Save</button>
          </div>
      </section>

        </div>
      </section>
      </section>
  </main>

 
  <script src="/js/category.js"></script>
</body>

</html>