<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget App | Categories</title>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href='css/style.css'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>

<body>
  <main>
    <section class="main-parent">
      <h1 class="fs-36 fw-1 fc-w page-title">Settings</h1><br>
      
      <!-- Income -->
      <form id="form-income" method="get">
        <div class="input-icons">
          <i class="fa-solid fa-sack-dollar icon fs-20"></i>
          <input type="number" id="income" name="income" placeholder=" Monthly Income" class="input-field" required ><br>
      <!-- Income Button -->
          <div class=" box-add-category-footer-income">
              <button class="btn-categories btn-income" id="btn-income-edit" disabled>Edit</button>
              <button class="btn-categories btn-income" id="btn-income-save" >Save</button>
          </div>
        </div>
      </form>

      <!-- Category -->
      <form id="form-category" method="get">
        <div class="input-icons">
          <i class="fa-solid fa-filter icon fs-20"></i>
          <input type="text" id="category" name="income" placeholder="Insert Category" class="input-field" required><br>
      <!-- Category Button-->
          <div class=" box-add-category-footer-income">
            <button class="btn-categories btn-income" id="btn-categorty-edit" disabled>Edit</button>
            <button class="btn-categories btn-income" id="btn-categorty-save">Save</button>
          </div>
          <div class="new-button" id="new-category" style="display: none;">
            <button class="btn-categories btn-income" id="btn-categorty-edit">New Category</button>
          </div>
        </div>
      </form>

      <!-- Exepnse -->
      <form id="form-expense" method="get">
        <div class="input-icons">
          <i class="fa-solid fa-coins icon fs-20"></i>
          <div class="input-side-by-side">
            <input type="texte" id="expense" name="expense" placeholder=" Expense" class="expense-input-field" required><br>
            <input type="number" id="price" name="price" placeholder="Price" class="price-input-field" required>
          </div>
      <!-- Exepnse Button-->    
          <div class=" box-add-category-footer-income">
            <button class="btn-categories btn-income" id="btn-price-edit" disabled>Edit</button>
            <button class="btn-categories btn-income" id="btn-price-save">Save</button>
          </div>
          <div class="new-button" id="new-expense" style="display: none;">
            <button class="btn-categories btn-income" id="btn-categorty-edit">New Expense</button>
          </div>
        </div>
      </form>
      
    
          
           <section>
            <div class="box-add-category">
              <div class="box-add-category-ctn" id="resultBox">
              
          </div>
          </div>
          <div class=" box-add-category-footer" style="display: none;">
            <button class="btn-categories" disabled>Edit</button>
            <button class="btn-categories">Save</button>
          </div>
      </section>
      </section>
  </main>

 
  <script src="/js/category.js"></script>
</body>

</html>