<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget App | Categories</title>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href='css/style.css'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>

<body>
  <main>
    <section class="main-parent">
      <h1 class="fs-36 fw-1 fc-w page-title h1">Settings</h1><br>
      
      <!-- Income -->
      <form id="form-income" method="get">
        <div class="input-icons">
          <i class="fa-solid fa-sack-dollar icon fs-20"></i>
          <input type="number" id="income" name="income" placeholder=" Monthly Income" class="input-field" required ><br>
      <!-- Income Button -->
          <div class=" box-add-category-footer-income" >
              <button class="btn-categories btn-income" id="btn-income-edit" disabled>Edit</button>
              <button class="btn-categories btn-income" id="btn-income-save" >Save</button>
          </div>
        </div>
      </form>

      <!-- Category -->
      <form id="form-category" method="get">
        <div class="input-icons">
          <i class="fa-solid fa-filter icon fs-20"></i>
          <input type="text" id="category" name="income" placeholder="Insert Category" class="input-field" required><br>
      <!-- Category Button-->
          <div class=" box-add-category-footer-income">
            <button class="btn-categories btn-income" id="btn-categorty-edit" disabled>Edit</button>
            <button class="btn-categories btn-income" id="btn-categorty-save">Save</button>
          </div>
          <div class="long-button" id="new-category" style="display: none;">
            <button class="btn-categories btn-income">New Category</button>
          </div>
        </div>
      </form>

      <!-- Exepnse -->
      <form id="form-expense" meth
        od="get">
        <select id="dropdown" class="dropdown">
        </select>
          
        <div class="input-side-by-side">
          <div class="icon-inside">
            <input type="text" id="expense" name="expense" placeholder=" Expense" class="expense-input-field" required><br>
            <i class="fa-solid fa-coins icon2 fs-20" style="z-index: 1;"></i>
          </div>
          <div class="icon-inside">
            <input type="number" id="price" name="price" placeholder="Price" class="price-input-field" required>
            <i class="fa-solid fa-coins icon2 fs-20"></i>
          </div>
        </div>
           
      <!-- Exepnse Button-->    
          <div class=" box-add-category-footer-income">
            <button class="btn-categories btn-income" id="btn-price-edit" disabled>Edit</button>
            <button class="btn-categories btn-income" id="btn-price-save" disabled>Save</button>
          </div>
        </div>
      </form>

           <section class="box" id="box" style="display: none;">
            <div class="box-add-category" id="box-add-category">
              <div class="box-add-category-ctn" id="resultBox">
               
          </div>
          </div>
          <div class="box-add-category-footer">
              <div class="box-add-category-footer-income " >
                <button class="long-button extra-padding" id="btn-box-save">Save</button>
              </div>
          </div>
      </section>
      </section>

      <section id="review-categories-box">

      </section>

      <section class="confirmation-box" style="display: none;">
        <div class="confirmation-box-ctn">
          <div class="confirmation-box-icon">
            <h4 class="confirmation-box-title">Confirm the Action</h4>
            <i class="fa-solid fa-x close-icon"></i>
          </div>
          <div class="confirmation-box-question">
            <h5 class="fw-5">Click on 'Cancel', in case you want to review your expenses.</h5>
            <h5 class="fw-5">Click on 'Confirm', in case you have reviewed or expense and are ready to move on.</h5>
          </div>
          <div class="confirmation-box-btn">
            <button class="cancel-btn">CANCEL</button>
            <button class="confirm-btn">CONFIRM</button>
          </div>
        </div>
      </section>
  </main>

 
  <script src="/js/category.js"></script>
</body>

</html>