<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget App</title>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href='css/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>

<body>
  <main>
    <section>
      <h1>Member Login</h1>

      <form id="form" method="get">

        <div class="input-icons">
          <label for="income">Username</label><br>
          <i class="fa-thin fa-money-bill icon"></i>
          <input type="number" id="income" name="income" placeholder=" Your Monthly Income" class="input-field" required><br><br>
        </div>

        <div class="input-icons">
          <label for="password">Password</label><br>
          <i class="fa-solid fa-lock icon"></i>
          <i class="fa-solid fa-eye icon"></i>
          <i class="fa-solid fa-eye-slash icon"></i>
          <input type="password" id="password" placeholder="Password" name="password" class="input-field" required>
        </div>

        <input type="checkbox" name="checkbox" id="checkbox">
        <label for="checkbox" id="rememberMe">Remember Me</label><br><br>

        <button type="submit" id="btn" disabled>Log In</button>

        <button type="submit" id="btn-clear">Clear</button>
      </form>
      <div class="ctn-p">
        <p><a href="">Forgot Password?</a></p>
        <p><a href="/singup">Create an Account</a></p>
      </div>
    </section>
  </main>
  <script type="text/javascript" src="/js/category.js"></script>
</body>

</html>