<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget App</title>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href='css/style.css'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>

<body>
  <main>
    <section class="main-parent">
      <h1 class="fs-36 fw-1 fc-w page-title">Categories</h1>
      
      <form id="form" method="get">
        <div class="input-icons">
          <label for="income" class="fs-20 fw-1 fc-w">Monthly Income</label><br>
          <i class="fa-solid fa-coins icon fs-20"></i>
          <input type="number" id="income" name="income" placeholder="Monthly Income" class="input-field" required><br><br>
        </div>
      </form>
      
      <section id="category-box">
        <div class="expense-ctn">
          <div class="box-header">
            <h3 class="fs-20 fw-1 fc-w">Insert Category</h3>
          </div>
          <form>
            <div class="form-ctn">
              <select name="category" id="category" class="category-input">
                <option value="housing">Housing</option>
                <option value="smma">SMMA</option>
                <option value="debt">Debt</option>
                <option value="beauty">Beauty</option>
                <option value="subscriptions">Subscriptions</option>
              </select>
              <input type="text" name="expense" id="expense" placeholder="Expense" class="expense-input">
            </div>

            <div class="box-footer">
              <button id="close-btn" class="btn-categories">Close</button>
              <button id="save-bt" class="btn-categories">Add</button>
            </div>
           <section>
            <div class="box-add-category">
              <div class="box-add-category-ctn">
                <p>Housing</p>
                <form action="">
                  <input type="radio" id="teste1" name="fav_language" value="HTML">
                  <label for="teste1">HTML</label><br>
                  <input type="radio" id="css1" name="fav_language" value="CSS1">
                  <label for="css">CSS</label><br>
                  <input type="radio" id="javascript1" name="fav_language" value="JavaScript">
                  <label for="javascript1">JavaScript</label>

              <p>SMMA</p>
              <form action="">
                <input type="radio" id="teste" name="fav_language" value="HTML">
                <label for="teste">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </form>

          </div>
        </div>
      </section>
          </form>
        </div>
      </section>

      
  </main>

 
  <script type="text/javascript" src="/js/category.js"></script>
</body>

</html>