<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget App</title>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href='css/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>
<body>
  <header>
    <h1>October</h1>
    <i class="fa-solid fa-arrow-right"></i>
    <i class="fa-solid fa-arrow-left"></i>
    <h2>Income: 1500 euros</h2>
  </header>
<main>
  <section>
    <button id="btn-category">Create Category</button>
    <form action="">
      
      <div class="expense-category">
        <input type="checkbox" id="housing" name="housing" value="Data">
        <label for="housing"><h3>Housing</h3></label><br>
      </div>
      
            
      <div class="expense-category">
        <input type="checkbox" id="communication" name="communication" value="Phone Bill">
        <label for="communication"><h3>Communication</h3></label><br>
      </div>
      
      <div>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3"> I have a boat</label>
      </div>
    </form>
    
  </section>
</main>
<script src="/js/index.js"></script>
</body>
</html>