<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget App</title>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href='css/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>
<body>
  <header id="header">
    <i class="fa-solid fa-arrow-right"></i>
    <i class="fa-solid fa-arrow-left"></i>
    <h2>Income: 1500 euros</h2>
  </header>
<main>
  <section>
    <button id="btn-category">Add expense</button
      
    </div>
  </section>
</main>
<script src="/js/index.js"></script>
</body>
</html>