<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget App | Login</title>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href='css/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>

<body>
  <main>
    <section>
      <h1 class="fs-36 fw-1 fc-w">Member Login</h1>

      <form id="form" method="get">

        <div class="input-icons">
          <label for="username" class="fs-20 fw-1 fc-w">Username</label><br>
          <i class="fa-solid fa-user icon fs-20"></i>
          <input type="text" id="username" name="username" placeholder="Username"
          class="input-field fs-18" required><br><br>
        </div>


        
        <div class="input-icons">
          <label for="password" class="fs-20 fw-1 fc-w">Password</label><br>
          <i class="fa-solid fa-lock icon fs-20"></i>
          <i class="fa-solid fa-eye icon fs-20"></i>
          <i class="fa-solid fa-eye-slash icon fs-20"></i>
          <input type="password" id="password" placeholder="Password" name="password" class="input-field fs-18" required> 
        </div>

        <input type="checkbox" name="checkbox" id="checkbox">
        <label for="checkbox" id="rememberMe" class="fs-20 fw-1 fc-w">Remember Me</label><br><br>

        <button type="submit" id="btn" class="btn" disabled>Log In</button>

        <button type="submit" id="btn-clear" class="btn">Clear</button>
      </form>
      <div class="ctn-p fs-18">
        <p><a href="" class="hyperlink fs-16 fc-w">Forgot Password?</a></p>
        <p><a href="/singup" class="fs-18">Create an Account</a></p>
      </div>
    </section>
  </main>
  <script type="text/javascript" src="/js/login.js"></script>
</body>
</html>