<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/327d71d456.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>

<body>
  <main>
    <section>
      <div class="prn-fnt-asw">
        <i class="fa-solid fa-user"></i>
      </div>
      <h1><%= title %></h1>

      <form id="form">
        <label for="username">Username</label><br>
        <input type="text" id="username" name="name" placeholder="Username" required><br><br>

        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" placeholder="Email" required><br><br>

        <label for="password">Password</label><br>
        <input type="password" id="password" placeholder="Password" name="password" required><br><br>
        <i class="fa-solid fa-eye"></i>
        <i class="fa-solid fa-eye-slash"></i>

        <label for="cPassword">Confirm Password</label><br>
        <input type="password" id="cPassword" placeholder="Confirm Password" name="cPassword" required><br><br>
       
        <button type="submit" id="btn" disabled>Sign Up</button>

        <button type="submit" id="btn-login"><a href="/login">Log In</a></button>
          
      </form>
    </section>
  </main>
  <script type="text/javascript" src="/js/singup.js"></script>
</body>
</html>