@import './variables';

.btn {
  cursor: pointer;
  width: 100%;
  border: 0;
  padding: 1.3rem 5.6rem;
  font-size: $font-size-16;
  margin-bottom: 1.50rem;
  background-color: $black-color;
  color: $white-color;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-categories {
  width: 47%;
  border: 0;
  padding: 0.7rem 0;
  font-size: $font-size-16;
  margin: 1rem 0 1rem;
  background-color: $black-color;
  color: $white-color;
}