  @import './resets';
  @import './variables';
  @import './buttons';

  // Style

  html {
    font-family: $font-family-lato;
    background: $gradient
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: $margin-middle;
    align-items: center;
  

    h1 {
      text-align: center;
      
    }

    .page-title {
      margin-top: 2rem;
    }

    form {
      width: 80%;
      margin: $margin-middle;
      max-width: 600px;
    }

    .input-field {
      width: 100%;
      text-align: $text-center;
      padding: 1.1rem 0;
      margin-top: 0.3rem;
      border: 0;
      background-color: $gray-color;
    }

    .input-icons i {
    position: absolute;
    }
    
    .input-icons {
    width: 100%;
    margin-bottom: 0.6rem;
    }
    
    .icon {
    padding: 1.6rem 0 0 0;
    color: $black-color;
    min-width: 3.12rem;
    text-align: $text-center;
    }

    .fa-eye, .fa-eye-slash, .input-validation{
      display: $display-none;
    }
  

    ::-webkit-input-placeholder, ::placeholder, :-ms-input-placeholder{
      /* Edge */
      color: $gray-placeholder-color;
      text-align: $text-center;
      font-size: $font-size-20;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    
        /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

    p {
      text-align: $text-center;
    }

    .hyperlink {
      text-decoration: none;
      padding: .5rem;
    }


    .main-parent {
    width: 100%;
    }

    .box-header {
    text-align: center;
    }

    .form-ctn, .box-footer {
      display: flex;
      justify-content: space-between;
    }

    .category-input, .expense-input{
      width: 49%;
      padding: 0.5rem;
      font-size: $font-size-16;
      margin: 1.3rem 0 0 0;
    }

    .box-add-category {
      width: 80%;
      margin: $margin-middle;
      background-color: $white-color;
      border: 1px solid black;
    }

    .box-add-category-form {
      width: 100%;
    }

    .ctg-title {
      text-align: $text-center;
      margin: 0.8rem 0.5rem 0;
    }

    .box-add-category-footer {
      width: 80%;
      display: flex;
      justify-content: space-between;
      margin: $margin-middle;
    }
  }