  @import './resets';
  @import './variables';
  @import './buttons.scss';

  // Style

  html {
    font-family: $font-family-lato;
    background: $gradient
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: $margin-middle;
    align-items: center;
  

    h1 {
      text-align: center;
      
    }

    .page-title {
      margin-top: 2rem;
    }

    form {
      width: 80%;
      margin: 0 auto 0.5rem auto;
      max-width: 600px;
      text-align: left;
    }

    #form-category, #form-expense {
      margin-top: 2.5rem;
    }

    .input-field {
      width: 100%;
      text-align: $text-center;
      padding: 1.1rem 0;
      margin-top: 0.3rem;
      border: 0;
      background-color: $gray-color;
    }

    .input-side-by-side {
      position: relative;
      display: flex;
      justify-content:space-between;
    }

    .expense-input-field, .price-input-field{
      width: 99.5%;
      text-align: $text-center;
      padding: 1.1rem 0;
      margin-top: 0.3rem;
      border: 0;
      background-color: $gray-color;
    }
    
    .expense-input-field {
      position: relative;
    }
    
    .input-icons {
      width: 100%;
      margin-bottom: 0.6rem;
    }
    
    .icon {
      padding: 1.6rem 0 0 0;
      color: $black-color;
      min-width: 3.12rem;
      text-align: $text-center;
    }

    .input-icons i {
      position: absolute;
    }

    .icon-inside {
      position: relative;
      width: 100%;
    }

   .icon {
      padding: 1.6rem 0 0 0;
      color: $black-color;
      min-width: 3.12rem;
      text-align: $text-center;
    }
    
    .input-icons {
    width: 100%;
    margin-bottom: 0.6rem;
    }

    .icon2 {
      position:absolute;
      padding: 1.6rem 0 0 0;
      color: $black-color;
      min-width: 3.12rem;
      text-align: $text-center;
      left: 0;
      top: 0px;
    }
      
    .fa-eye, .fa-eye-slash, .input-validation{
      display: $display-none;
    }
  

    ::-webkit-input-placeholder, ::placeholder, :-ms-input-placeholder{
      /* Edge */
      color: $gray-placeholder-color;
      text-align: $text-center;
      font-size: $font-size-20;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    
        /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

    p {
      text-align: $text-center;
    }

    .hyperlink {
      text-decoration: none;
      padding: .5rem;
    }

    .main-parent {
    width: 100%;
    }

    .box-add-category {
      margin: 2.5rem auto 0 auto;
      background-color: rgb(255, 255, 255);
      padding: 1.1rem 0;
    }

    .box-add-category-form {
      width: 100%;
    }

    .ctg-title {
      text-align: $text-center;
      margin: 1rem 0 2.5rem 0;
    }

    .box-add-category-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: $margin-middle;
    }

    .box-add-category-footer-income {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: $margin-middle;
    }

    input:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    }

    select {
      width: 100%;
      padding: 1.1rem 0;
      display: none;
    }

    .box {
      width: 80%;
      margin: 0 auto 3rem auto;
      max-width: 600px;
    }

    .parentH5 {
      margin-bottom: 1.5rem;
    }

    .form-flex {
      display: flex;
      justify-content: space-between;
    }

    .ctn-form-input-label, .ctn-form-icons{
        display: flex;
    }
  
  }