  @import './resets';
  @import './variables';
  @import './buttons';

  // Style

  html {
    font-family: $font-family-lato;
    background: $gradient
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: $margin-middle;
    align-items: center;
  

    h1 {
      text-align: center;
    }

    form {
      width: 80%;
      margin: $margin-middle;
      max-width: 600px;
    }

    .input-field {
      width: 100%;
      text-align: $text-center;
      padding: 1.1rem 0;
      margin-top: 0.3rem;
      border: 0;
      background-color: $gray-color;
    }

    .input-icons i {
    position: absolute;
    }
    
    .input-icons {
    width: 100%;
    margin-bottom: 0.6rem;
    }
    
    .icon {
    padding: 1.3rem 0 0 0;
    color: $black-color;
    min-width: 3.12rem;
    text-align: $text-center;
    }

    .fa-eye, .fa-eye-slash, .input-validation{
      display: $display-none;
    }
  

    ::-webkit-input-placeholder, ::placeholder, :-ms-input-placeholder{
      /* Edge */
      color: $gray-placeholder-color;
      text-align: $text-center;
      font-size: $font-size-20;
    }

    p {
      text-align: $text-center;
    }

    .hyperlink {
      text-decoration: none;
    }
  }